body {
    margin: 0;
    padding: 0;
}

canvas {
    display: block;
}

#window-control{ 
    position: absolute;
    top: 48px;
    left: 15px;
}

.text-label {
    color: #fff;
    font-family: "Fira Mono", Monaco, "Andale Mono", "Lucida Console", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
    margin: -5px 0 0 15px;
    pointer-events:none;
  }